apiVersion: 1

datasources:
  - name: InfluxDB Flux
    type: influxdb
    url: http://influxdb:8086
    access: proxy
    editable: true
    isDefault: true
    secureJsonData:
      token: "linguafrancatoken"
    jsonData:
      version: Flux
      organization: "xronos"
      defaultBucket: dashboard
      timeInterval: 10s
